<!-- Include header -->
<% include ../_layouts/_header.ejs %>

<!-- Website colors style -->
<link rel="stylesheet" type="text/css" href="/css/colors.css">

<!-- Title -->
<title>siimple-colors - A color palette for UI design</title>
<!-- Header -->
<div class="website-header website-header--pink">
  <!-- Menu -->
  <% include ../_layouts/_menu.ejs %>
  <!-- Title -->
  <div class="website-header-title">siimple-colors</div>
  <!-- Detail -->
  <div class="website-header-detail">A color palette for UI design <b>v<%= pkg.colors.version %></b></div>
</div>

<!-- Main content -->
<div class="website-main">
<!-- Description -->
<div class="siimple-h2">Overview</div>
<p class="siimple-p">
  <b>siimple-colors</b> is a simple, minimal and open source color palette for UI design.
</p>

<!-- Getting started -->
<div class="siimple-h2">Getting started</div>
<p class="siimple-p">You must include the <b>siimple-colors</b> library in each HTML page of your project.</p>
<!-- Dowmload from github -->
<div class="siimple-h4">Download from GitHub</div>
<p class="siimple-p">
  You can visit the repository hosted on <a href="https://github.com/siimple/siimple-colors" class="siimple-link" target="_blank">GitHub</a> and download the
  latest version from the <a href="https://github.com/siimple/siimple-colors/releases" class="siimple-link" target="_blank">releases page</a>.
  You can find the CSS files on the <code class="siimple-code">./dist/</code> folder, so you can copy them to your project.
</p>
<!-- Install with npm or bower -->
<div class="siimple-h4">Install using NPM or Bower</div>
<p class="siimple-p">
  <b>siimple</b> is also hosted on <a href="https://www.npmjs.com/package/siimple-colors" class="siimple-a" target="_blank">npm</a> and
  <a href="http://bower.io" class="siimple-a" target="_blank">bower</a>, so you can use the npm's CLI to install the framework on your project
  running the following command:
</p>
<pre class="siimple-pre">npm install siimple-colors --save</pre>
<p class="siimple-p">Or using the bower's CLI running the following command: </p>
<pre class="siimple-pre">bower install siimple-colors</pre>
<p class="siimple-p">
  You can find the CSS files on the <code class="siimple-code">./dist/</code> folder, so you can copy them or include in each HTML file of your project:
</p>
<pre class="siimple-pre">&lt;link rel="stylesheet" type="text/css" href="./path/to/siimple-colors/dist/siimple-colors.css"&gt;</pre>

<!-- Usage -->
<div class="siimple-h2">Usage</div>
<p class="siimple-p">
  For each colo in the palette, there is a <b>CSS</b> class to set it as the <i>text color</i> with
  <code class="siimple-code">siimple-color-{color}-{number}</code> or the <i>background-color</i> with <code class="siimple-code">siimple-bg-{color}-{number}</code>,
  where <code class="siimple-code">{color}</code> is the name of the color on the palette, and <code class="siimple-code">{number}</code> is
  a number from 0 to 4, both included. If you are interested on the base color, you can set it with <code class="siimple-code">siimple-color-{color}</code> for
  the <i>text-color</i> and <code class="siimple-code">siimple-bg-{color}</code> for the <i>background-color</i>.
</p>
<p class="siimple-p">
  If you are interested in the <b>SASS/SCSS</b> mixins included on the package, please visit the documentation hosted on the <b>GitHub</b>
  <a class="siimple-link" href="https://github.com/siimple/siimple-colors#usage" target="_blank">repository</a>.
</p>

<!-- Colors palette -->
<div class="siimple-h2">The palette</div>
<div class="website-colors-palette" align="center">
  <% for(var i = 0; i < colors.colors.length; i++){ %>
  <% var color_base = colors.colors[i].list[colors.index_base]; %>
  <% var color_over = colors.colors[i].list[colors.index_over]; %>
  <% var color_name = colors.colors[i].name; %>
  <% var color_list = colors.colors[i].list; %>
  <div class="website-colors-group" style="color: <%= color_over %>;">
    <div class="website-colors-color website-colors-color-main" style="background-color: <%= color_base %>;">
      <span class="website-colors-color-index"><%= color_name %></span>
      <span class="website-colors-color-hex"><%= color_base %></span>
    </div>
    <% for(var j = 0; j < color_list.length; j++) { %>
    <% if(j === color_list.length - 1){ continue; } %>
    <div class="website-colors-color" style="background-color: <%= color_list[j] %>;">
      <span class="website-colors-color-index"><%= color_name %>-<%= j %></span>
      <span class="website-colors-color-hex"><%= color_list[j] %></span>
    </div>
    <% } %>
  </div>
  <% } %>
</div>

</div>

<!-- Include footer -->
<% include ../_layouts/_footer.ejs %>
